.about-me {
    margin-top: 96px;

    @include tablet {
        margin-top: 120px;
    }

    &__grid {
        display: grid;
        grid-template-rows: 1fr max-content max-content;
        row-gap: 56px;
        
        @include tablet {
            grid-template-columns: 40% 60%;
        }
    }

    &__headline {
        font-size: 4rem;
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }

    &__image {  
        margin: 0 64px;

        @include tablet {
            margin: 0 40px 0;
        }
    }

    &__img {
        border-radius: 50%;
    }

    &__interest {
        grid-column: 1 / -1;
    }

    &__interest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 32px;
        align-items: center;

        @include tablet {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: unset;
        }
    }

    &__interest-img {
        width: 100%;
        object-fit: contain;
    }
}