.button {
    color: $primary-color;
    font: 600 1.25em/1 $body-font;
    padding: 0 0 10px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    
    @include desktop {
        font-size: 1.25em; 
    }

    &:not(:last-of-type) {
        margin-right: 24px;
    }

    &--white {
        background-color: #fff;
    }

    &--border {
        background-color: $primary-color;
        color: #fff;
        padding: 16px;
        border: none;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            top: 0;
            background-color: darken($primary-color, 15);
            will-change: height;
            transition: height .4s cubic-bezier(0.0, 0.0, 0.2, 1);
            z-index: -1;
        }
        
        &:hover::after {
            height: 100%;
            bottom: 0;
            top: auto;
        }
    }

    &--underline {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 2px;
            background-color: $primary-color;
            transition: width .4s cubic-bezier(0.0, 0.0, 0.2, 1);
        }

        &:hover::after {
            width: 100%;
            left: 0;
            right: auto;
        }
    }

    &__icon {
        width: 100%;
        max-width: 22px;
        height: 22px;
        object-fit: contain;
        margin-right: 10px;
    }

    &--to-top {
        border-radius: 50%;
        padding: 30px;
        background-color: $primary-color;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: -30px;
        right: 5%;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: url('../../images/icons/angle-up.svg') no-repeat center;
            background-size: 45%;
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
        }

        @include desktop {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: darken($primary-color, 15);
                transition: height .4s cubic-bezier(0.0, 0.0, 0.2, 1);
                z-index: -1;
            }
    
            &:hover::after {
                height: 100%;
                bottom: 0;
                top: auto;
                transition: height .4s cubic-bezier(0.0, 0.0, 0.2, 1);
            }
        }
    }
}