.container {
    width: 100%;
    height: 100%;
    max-width: 864px;
    padding: 0 24px;
    margin: 0 auto;

    @include desktop {
        padding: 0 36px;
    }

    &--large {
        max-width: 1230px;
    }
}