// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

// Font Variables
$headline-font: 'Lora', sans-serif;
$h1-size: 5rem;

$body-font: 'Work Sans', sans-serif;

$button-font: 'Work Sans', sans-serif;
