.footer {
  background-color: $dark-blue;
  color: #fff;
  padding: 48px 0 24px;
  text-align: center;
  position: relative;

  &__icon {
    width: 40px;
    height: 100%;
    display: block;
    margin: 0 auto 24px auto;
  }

  &__headline {
    font: 700 2.25rem/1.25 $headline-font;
    color: #fff;

    @include desktop {
      font-size: 3rem;
    }
  }

  &__tagline {
    color: #fff;
  }

  &__copy {
    color: #fff;
    margin-bottom: 40px;
  }

  &__subline {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.2);
    margin-top: 16px;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    display: inline-block;
  }

  &__bot-layer {
    margin-top: 40px;

    * {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
