.hero {
  display: inline-block;
  // height: calc(100vh - 150px);
  width: 100%;
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 40px;
  
  @include desktop {
    height: 100%;
    color: $dark-blue;
    margin-top: 10rem;
  }


  &__intro {
    margin-bottom: 32px;
  }

  &__text {
    width: 100%;
  }
  
  &__copy {
    margin-top: 16px;
  }

  &__content {
    width: 100%;
  }

  &__top {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__bottom {
    width: 100%;
    height: 100px;
    display: inline-block;
    background: url('../../images/hero-background-mobile.svg') no-repeat top;
    background-size: cover;
    // firefox-pixel fix
    margin-top: -1px;

    @include desktop {
      display: none;
    }
  }

  &__bottom-icon {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background: url('../../images/angle-down.svg') no-repeat;
    background-position: center;
    background-size: 32px;
    background-color: $primary-color;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 18rem;
    background: url('../../images/hero-notebook.svg') no-repeat top;
    background-size: contain;
    margin-top: 56px;

    @include desktop {
      margin-top: 0;
      margin-right: 56px;
      height: 520px;
    }
  }

  &__headline {
    font: 700 3.25rem/1.2 $headline-font;
    letter-spacing: 0.9px;
    color: $dark-blue;
    margin: 0;
    margin-bottom: 24px;
    
    @include desktop {
      font-size: 4rem;
      flex-shrink: 0;
      margin-bottom: 32px;
    }
  }

  &__emoji {
    display: inline-block;
    animation: wave 1s infinite;
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}