.logo-collection {
    overflow: hidden;

    &__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__item {
        width: 100%;
        height: 80vh;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 90%;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: 1;

            @include tablet {
                width: 42rem;
            }
        
            @include desktop {
                width: 60rem;
            }
        }

        &--dark {
            &::after {
                background-color: $dark-blue;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    &__bg {
        width: 100%;
        height: 100%;
        // filter: grayscale(100%);
        z-index: 1;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 19rem;
        transform: translate(-50%, -50%);
        max-height: 13rem;

        @include desktop {
            width: 24rem;
        }
    }
}