.navigation {
    text-align: right;
    position: fixed;
    display: inline-block;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: 0 24px;
    
    &--flex {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &--flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }

    &__burger {
        width: 50px;
        height: 60px;
        padding: 15px 10px;
        // margin-left: auto;
        // margin-right: -10px;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 15;

        &:focus {
            border: none;
            outline: none;
        }

        & .burger {
            display: block;
            width: 100%;
            height: 4px;
            background-color: $dark-blue;

            @include desktop {
                background-color: $dark-blue;
            }

            &:first-child {
                margin-bottom: 11px;
            }

            &__top {
                will-change: transform, width;
                transform: rotate(0);
                transform-origin: left;
                transition: transform .2s ease, width .1s ease;

                &--close {
                    width: 21px;
                    transform: rotate(45deg);
                    background-color: #fff;
                }
            }

            &__bottom {
                will-change: transform, width;
                transform: rotate(0);
                transform-origin: left;
                transition: transform .2s ease, width .1s ease;

                &--close {
                    width: 21px;
                    transform: rotate(-45deg);
                    background-color: #fff;
                }
            }
        }
    }

    &__content {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        min-height: 400px;
        background-color: $dark-blue;
        color: #fff;
        padding: 48px 24px;
        text-align: center;
        left: 0;
        top: 0;
        z-index: -1;

        @include desktop {
            width: 500px;
            left: inherit;
            left: auto;
            right: 0;
        }

        &--close {
            transform: translateX(100%);
            will-change: tranform;
            transition: transform .2s ease;
        }

        &--open {
            transform: translateX(0);
            will-change: tranform;
            transition: transform .2s ease;
        }
    }

    &__icons-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__icon {
        width: 32px;
    }

    &__email {
        font: 600 1.25em/1 $button-font;
        color: #fff;
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
        margin-top: 32px;
        
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__link {
        font: 600 1.5em/1 $button-font;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 10px 0;
        position: relative;
        margin: 10px auto;
    }

    &__back-button {
        border: none;
        background: url('./../../images/icons/angle-left.svg') no-repeat center;
        background-size: 29%;
        display: inline-block;
        width: 60px;
        height: 100%;
        outline: none;
        cursor: pointer;
    }

    &__shadow-overlay {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color:rgba(255,255,255,0.6);
        opacity: 0;
        position: absolute;
        z-index: -2;
        pointer-events: none;
        transition: opacity .2s ease;
    }

    &__content--open + &__shadow-overlay {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .2s ease;
    }
}