.playlist {
    .iframe {
        order: 2;
        
        @include desktop {
            order: unset;
            min-height: 360px;
        }
    }

    &__copy {
        margin: 16px 0 32px 0;
    }
}