// Variables

// Color
$primary-color: #02A77E;
$dark-blue: #323647;
$dark-grey: #293643;
$grey: #5b5e6d;

// Global classes

body {
    -webkit-font-smoothing: antialiased;
}

p, li {
    font: 400 1.25rem/1.5 $body-font;
    color: $grey;
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    color: $dark-blue;
}

h1 {
    font: 700 3.25rem/1 $headline-font;
    letter-spacing: 0.9px;
    color: $dark-blue;
    margin: 0;
    margin-bottom: 24px;
    
    @include desktop {
      font-size: 5rem;
      margin-bottom: 32px;
    }
}

h2 {
    font: 700 2.9rem/1.2 $headline-font;

    @include desktop {
      font-size: 4rem;
    }
}

h3 {
    font: 700 1.8rem/1.2 $headline-font;
    display: inline-block;

    @include desktop {
        font-size: 2rem;
    }
}

a {
    text-decoration: none;
}

.button-link {
    font: 1.25em/1.2 $button-font;
    color: $primary-color;
    text-decoration: none;

    @include desktop {
        font-size: 1.125em;
    }
}

.external-link {
    color: $primary-color;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    // &::before {
    //     content: '';
    //     display: inline-block;
    //     width: 15px;
    //     height: 15px;
    //     background: url(../../images/icon-external.svg);
    //     margin-right: 5px;
    // }
}

.mt-120 {
    margin-top: 80px;

    @include desktop {
        margin-top: 120px;
    }
}

.grid-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 56px;

    @include desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        column-gap: 54px;
    }
}

.fullwidth-fix {
    @include mobile-only {
        margin: 0 -24px;
    }
}

.underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition: width .4s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &:hover::after {
        width: 100%;
        left: 0;
        right: auto;
    }

    &--white {
        &::after {
            background-color: #fff;
        }
    }
}