.skills-element {
    background: url('../../images/springles-pattern.svg') repeat left;
    background-size: cover;
    background-color: $dark-blue;
    color: #fff;
    padding: 80px 0;

    @include desktop {
        background-size: 40%;
        padding: 120px 0;
    }

    .text-copy,
    .text-title {
        color: #fff;
    }

    &__wrapper {
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 54px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 32px;
        text-align: center;
        padding: 32px 0;
        margin: 32px 0;
        background-color: $dark-blue;
        box-shadow: 0 0 20px rgba(0,0,0, 0.1);

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
            row-gap: unset;
            padding: 24px;
            margin: 0;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }

    &__item {
        align-self: center;
    }

    &__text {
        color: white;

        @include desktop {
            padding-top: 24px;
            margin-top: 24px;
            border-top: 1px solid #fff;
        }
    }

    &__block {
        margin-top: 48px;
    }

    &__icon {
        display: block;
        height: 80px;
        margin: 0 auto 16px auto;
        padding: 8px 0;
    }

    &__label {
        font: 600 1.25em/1.2 $button-font;
        color: #fff;
    }
}