.social-media {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 32px;
        }
    }
}