.text {
  &-icon {
    width: 100%;
    height: 100%;
    max-width: 5em;
    max-height: 5em;
    display: block;
    margin-bottom: 24px;
  }

  &-copy {
    font-weight: 600;
  }

  &-title {
    font: 700 2.9rem/1.2 $headline-font;

    @include desktop {
      font-size: 4rem;
    }
  }

  &-element {
    &--black {
      background-color: $dark-blue;
      color: #fff;
    }

    &--white {
      color: $dark-blue;
    }

    &--center {
      text-align: left;

      @include tablet {
        text-align: center;
      }

      & .text-icon {
        margin: 0 auto;
      }
    }

    &--left {
      text-align: left;
    }
  }

  &-link {
    color: $primary-color;
    position: relative;
    padding-bottom: 6px;
    font-weight: 600;
    white-space: nowrap;

    &:visited {
      color: $primary-color;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      right: 0;
      background-color: $primary-color;
      transition: width .4s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
      transition: width .4s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }
}
