.work-description {
    margin-top: 80px;

    &__grid {
        display: grid; 
        grid-template-rows: max-content 1fr;
        row-gap: 40px;

        @include tablet {
            grid-template-columns: 2fr 1fr;
            column-gap: 40px;
            grid-template-rows: unset;
        }
    }

    &__icon {
        width: 1rem;
        margin-right: 8px;
    }

    &__label {
        font-weight: 600;
    }
}