.work {
  &__grid {
    display: grid;
    row-gap: 48px;
    width: 100%;
    margin-top: 40px;

    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 56px;
      margin-top: 56px;
    }
  }

  &__headline {
    font: 700 1.8rem/1.2 $headline-font;
    margin: 24px;
    display: inline-block;

    @include desktop {
      font-size: 2rem;
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.4s ease;

      & .work__wrapper::after {
        opacity: 0.5;
        transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1);
      }

      & .work__wrapper::before {
        will-change: height;
        opacity: 1;
        bottom: 0;
        top: auto;
        height: 100%;
        transition: height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.4s ease;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    background-color: #fff;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 0;
      left: 0;
      top: 0;
      position: absolute;
      background: url('../../images/search.svg') no-repeat center;
      background-size: 30%;
      will-change: height;
      opacity: 0;
      transition: height 0.5s cubic-bezier(0, 0, 0.2, 1), opacity 0.4s ease;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: #000;
      opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1);
      z-index: 1;
    }
  }

  &__thumbnail {
    display: block;
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: 0;
  }
}
