.work-header {
    background: url('../../images/springles-pattern.svg') left;
    background-color: $dark-blue;
    background-size: cover;
    margin: 60px 0;
    padding: 80px 0;
    color: #fff;
    
    @include desktop {
        background-size: 40%;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    &__grid {
        display: grid;
        width: 100%;
        grid-row-gap: 8px;
        text-align: center;
        
        @include tablet {
            margin-top: 32px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: unset;
            grid-column-gap: 56px;
            grid-row-gap: unset;
            margin: 0 auto;
        }
    }

    &__headline {
        font: 600 2.9rem/1.2 $headline-font;
        color: #fff;

        @include desktop {
            font-size: 4rem;
        }
    }

    &__subline {
        color: #fff;
    }

    &__label {
        font: 1rem/1 $body-font;
        text-transform: uppercase;
        color: $grey;
    }
}