$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile-only {
    @media (max-width: #{$mobile-width}) {
        @content
    }
};

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content
    }
};

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content
    }
};

@mixin retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      @content;
    }
}